[Unit]
Description=@Freeports Trading Platform Backend
After=network.target mongod@scan.service

[Service]
EnvironmentFile=/etc/freeports-trading-platform/backend.conf
Type=simple
User=freeports
ExecStart=/usr/bin/node /usr/share/freeports-trading-platform/backend/main.js
WorkingDirectory=/usr/share/freeports-trading-platform/backend
Restart=on-failure

[Install]
WantedBy=multi-user.target
